body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #3D7EAA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App {
  background: #3D7EAA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav {
  display: flex;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 0px 10px 0px;
}

.nav a {
  flex: 1;
  padding: 10px;
  margin: 5px 15px;
  border: 1px solid #2d6387;
  border-radius: 10px;
  text-decoration: none;
  color: #2d6387;
  font-size: 16px;
  font-weight: bold;
}

.nav a:hover, .selected {
  background: #2d6387;
  color: #fff !important;
}

.home {
  text-align: center;
}

.login *,
.signup * {
  font-size: 16px;
}

div.login, div.signup {
  margin-top: 10px;
}

.login label {
  margin: 0 20px;
}

.login input[type="submit"] {
  margin: 0 20px;
}

.signup label {
  margin: 0 20px;
}

.signup input[type="submit"] {
  margin: 0 20px;
}

.game-timer {
  text-align: center;
}

div.my-games, div.high-scores {
  margin-left: 20px;
}

input[type=text], input[type=password], select {
    width: 50%;
    padding: 8px 10px;
    margin: 0px 10px 20px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 70%;
    background-color: #2d6387;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3D7EAA;
    margin: 0 auto;
}

.guess-form input[type="submit"] {
  width: 40%;
  background-color: #2d6387;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.guess-form input[type="submit"]:hover {
    background-color: #3D7EAA;
    margin: 0 auto;
}

div.login, div.signup {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px 5px;
}

.game {
  text-align: center;
}

.start {
  text-align: center;
  padding: 0 20px 0 20px;
}

.instructions button {
  font-size: 16px;
  width: 40%;
  background-color: #2d6387;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.instructions button:hover {
  background-color: #3D7EAA;
}
